<div class="box_title">
        <div class="closer"><img src="static/image/cross.gif" onclick="window.location.reload();" /></div>
        <?=$title?>
</div>
<div class="box_container">
<form action="?a=action_save" method="post" id="action_form">
<div class="bigtitle">添加自定义接口</div>
<p>接口名称</p>
<p><input type="text" name="action" placeholder="接口名称" /></p>
<p>接口代码 </p>
<textarea class="action_code" name="code" id="thecode">
</textarea>
<input name="table" value="<?=$table?>" type="hidden" />
<p style="margin-top:10px"><input type="button" value="保存" onclick="$('thecode').value=myCodeMirror.getValue();send_form('action_form');"/>
</p>


<p class="dark">获取请求参数 - v('字段名') | 更新数据库 - run_sql( $sql )</p>
<p class="dark">添加认证 - $this->check_token();</p>
<p class="dark">返回数据 - return $this->send_result( $data );</p>
<p class="dark">返回错误 - return $this->send_error( $err_code , $err_msg );</p>



</form>
</div>
<script>
var myCodeMirror = CodeMirror.fromTextArea(document.getElementById('thecode') , { theme:'night' });
center_it('riki_float_box');
myCodeMirror.setValue(document.getElementById('thecode').value);
</script>