<div class="box_title">
        <div class="closer"><img src="static/image/cross.gif" onclick="close_float_box()" /></div>
        <?=$title?>
</div>
<div class="box_container">
<form action="?a=fsettings_save" method="post" id="fsettings_form">
<div class="bigtitle"><?=$table?>表 - <?=$action?>接口 - <?=$field?></div>
<?php foreach( $settings as $setting ): ?>
<p><label for="st_<?=$setting['value']?>" ><div class="mark <?=$setting['value']?>"><?=$setting['text']?></div> <?=$setting['desp']?></label> <input type="checkbox" name="st[<?=$setting['value']?>]" id="st_<?=$setting['value']?>" value="1" <?php
if( $finfo[$setting['value']] == 1  )
	echo ' checked ';

?> />&nbsp;</p>

<?php endforeach; ?>
<div class="tp30 bt30">
<input type="button" value="保存设置" onclick="send_form('fsettings_form');"/>
<input name="table" value="<?=$table?>" type="hidden" />
<input name="field" value="<?=$field?>" type="hidden" />
<input name="action" value="<?=$action?>" type="hidden" />
<input name="tdid" value="<?=$tdid?>" type="hidden" />

</div>
</form>
</div>