<div class="box_title">
        <div class="closer"><img src="static/image/cross.gif" onclick="window.location.reload();" /></div>
        <?=$title?>
</div>
<div class="box_container">
<form action="?a=iosettings_save" method="post" id="iosettings_form">
<div class="bigtitle"><?=$table?>表 - <?=$action?>接口 </div>
<p>输入过滤代码 - 输入变量：$_REQUEST</p>
<textarea class="action_code" name="in_code" id="input_fliter">
<?=htmlspecialchars($input_settings)?>
</textarea>

<p>输出过滤代码- 输出数组：$data</p>
<textarea class="action_code" name="out_code" id="output_fliter">
<?=htmlspecialchars($output_settings)?>
</textarea>

<div class="tp30 bt30">
<input type="button" value="保存设置" onclick="$('input_fliter').value=myCodeMirror.getValue();$('output_fliter').value=myCodeMirror2.getValue();send_form('iosettings_form');"/>
<input name="table" value="<?=$table?>" type="hidden" />
<input name="field" value="<?=$field?>" type="hidden" />
<input name="action" value="<?=$action?>" type="hidden" />
<input name="tdid" value="<?=$tdid?>" type="hidden" />

</div>
</form>
</div>
<script>
var myCodeMirror = CodeMirror.fromTextArea(document.getElementById('input_fliter') , { theme:'night', height:'60px' , mode:'php' });
var myCodeMirror2 = CodeMirror.fromTextArea(document.getElementById('output_fliter') , { theme:'night', height:'60px',mode:'php' });

</script>