<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/"><?=c('site_name')?></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li<?php if( g('c') == 'default' ): ?> class="active"<?php endif; ?>><a href="?a=index">设置界面</a></li>
              <li><a href="http://ftqq.com/lazyrest/" target="new">帮助文档</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
