<?php
header("Content-Type:text/xml;charset=utf-8");
header("Expires: Thu, 01 Jan 1970 00:00:01 GMT");
header("Cache-Control: no-cache, must-revalidate");
header("Pragma: no-cache");
?>
<div class="box_title">
        <div class="closer"><img src="static/image/cross.gif" onclick="close_float_box()" /></div>
        <?=$title?>
</div>
<div class="box_container">
<?=$content?>
<p>&nbsp;</p>
<br clear="all"/>
</div>
<?php if( $close_time > 0 ): ?>
<script>
<?php if( $forward == '' ): ?>
        (function(){close_float_box()}).delay(<?=$close_time*1000?>);
<?php else: ?>
        (function(){location='<?=addslashes($forward) ?>'}).delay(<?=$close_time*1000?>);
<?php endif; ?> 
</script>       
<?php endif; ?>